/* shared font */
body {
    font-family: Open Sans;
}

.orange-text {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 35px;
}

.title {
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* nav related style*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: gray;
}

/*header*/
.header {
    background-color: #FFF8F3;
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    text-align: center;
}

.banner .picture{
    width: 300px;
}
